.imagemCard{
    height: 19rem;
    width: 18rem;
    align-self: center;
}

.imagemProduto{
    height: 45rem;
    width: 100%;
    align-self: center;
}

.containerProduto{
    height: 94vh;
}

.imagemCarrinho{
    max-width: 100px;
}

.carregandoProduto{
    height: 94vh;
}

body{
    background-color: #6c757d;
}